$AzulPrimario: #648dd0;
$BlancoPrimario: #eeeeee;
$NegroPrimario: #242323;

header {
	margin: 1.5em 0;
	display: flex;
	justify-content: center;
	.title {
		font-weight: 500;
		font-size: 2.5em;
		color: $NegroPrimario;
	}
}
